@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    padding:  0;
}

main {
    width: 100%;
    margin: 0;
    padding: 0;
}