section {
    width: 100%;
    min-height: 50vh;
    margin: 0 auto;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.section--grey {
    background: #F6F6F6;
}

.section__title {
    width: 90%;
    color: #23272A;
    font-size: 1.5rem;
    font-weight: 800;
}
